.container {
  display: grid;
  grid-template-rows: repeat(8, 80px);
  grid-template-columns: minmax(10px, 50px) 2fr repeat(6, 1fr) 2fr minmax(10px, 50px);
  grid-gap: 2em;
}

.backBtn{
  grid-area: 1 / 1 / 2 / 2;
  margin-left: 20px;
}

.inputContainer{
  align-items: center;
  justify-self: center;
  grid-area: 2 / 3 / 8 / 9;
}

.online_users{
  grid-area: 2 / 9 / 6 / 10;
  overflow: auto;
  word-wrap: break-word
}

.battleRequests{
  grid-area: 2 / 2 / 4 / 3;
  background-color: #292929;
  border: 5px solid #039be5;
  overflow: auto;
  word-wrap: break-word
}

.tradeRequests{
  grid-area: 4/ 2 / 6 / 3;
  background-color: #292929;
  border: 5px solid #039be5;
  overflow: auto;
  word-wrap: break-word
}
