.container {
  display: grid;
  grid-template-rows:  minmax(20px, 40px) repeat(8, 80px);
  grid-template-columns: minmax(10px, 50px) 2fr repeat(6, 1fr) 2fr minmax(10px, 50px);
  grid-gap: 2em;
}

.backBtn{
  grid-area: 1 / 1 / 2 / 2;
  margin-left: 20px;
}
.username{
  grid-area: 1 / 5 / 2 / 7;
  margin-top: 50px;
}

.healthInfo{ // row-str, column-str, row-end, column-end
  grid-area: 3 / 4 / 3 / 6;
  justify-self: center;
  align-self: center;
  text-align: center;
  background-color: #292929;
  border: 5px solid #039be5;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;

}

.sleepInfo{ // row-str, column-str, row-end, column-end
  grid-area: 3 / 6 / 3 / 8;
  justify-self: center;
  align-self: center;
  text-align: center;
  background-color: #292929;
  border: 5px solid #039be5;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.hungerInfo{ // row-str, column-str, row-end, column-end
  grid-area: 5 / 4 / 6 / 6;
  justify-self: center;
  align-self: center;
  text-align: center;
  background-color: #292929;
  border: 5px solid #039be5;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.cleanlinessInfo{ // row-str, column-str, row-end, column-end
  grid-area: 5 / 6 / 6 / 8;
  justify-self: center;
  align-self: center;
  align-items: center;
  text-align: center;
  background-color: #292929;
  border: 5px solid #039be5;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

// statlist
.gotchiStats{ // row-str, column-str, row-end, column-end
  grid-area: 3 / 2 / 6 / 3;
  justify-self: center;
  align-self: center;
  align-items: center;

  background-color: #292929;
  border: 5px solid #039be5;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

// statlist
.questButton{ // row-str, column-str, row-end, column-end
  grid-area: 6 / 2 / 6 / 3;
  justify-self: center;
  align-self: start;
  align-items: center;

  background-color: #292929;
  border: 5px solid #039be5;
  padding: 10px;
}


.determinateBar {
  justify-self: center;
  min-width: 200px;
  max-width: 200px;
  border: 2px solid #039be5;
  padding-bottom: 10px;
}

.statBorder{
  background-color: #1F1F1F;
  border: 2px solid #039be5;
  min-width: 100px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.showerAction{ // row-str, column-str, row-end, column-end
  grid-area: 7 / 3 / 9 / 5;
  align-items: center;
  justify-self: center;
  text-align: center;
}

.hungerAction{ // row-str, column-str, row-end, column-end
  grid-area: 7 / 5 / 9 / 7;
  align-items: center;
  justify-self: center;
  text-align: center;
}

.sleepAction{ // row-str, column-str, row-end, column-end
  grid-area: 7 / 7 / 9 / 9;

  align-items: center;
  justify-self: center;
  text-align: center;
}

.online_users{
  grid-area: 2 / 9 / 9 / 10;
}
.online_users {
  max-height: 1000px;
  overflow-y: auto;
}

.online_users .title {

}

.online_users mat-card {
  margin-bottom: 10px;
}


.battleRequests{
grid-area:4/9/9/10;
}
.itemsList{
  grid-area: 8 / 2 / 9 / 3;
  justify-self: center;
  align-self: center;
  text-align: center;
  background-color: #292929;
  border: 5px solid #039be5;
  padding: 10px;
}


.inputContainer{
  grid-area:8/2/9/2 ;
}
.inputContainer input[type="text"] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.inputContainer input[type="text"]:focus {
  outline: none;
  border-color: dodgerblue;
}

.inputContainer button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.inputContainer button:hover {
  background-color: #007acc;
}
.chatMessages {
  height: 200px; /* Adjust the height as needed */
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}
.items-container {
  background-color: #333333;
  color: #CCCCCC;
  padding: 10px;
  margin-top: 10px;
}

.items-container p {
  font-weight: bold;
}

.items-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.items-container li {
  margin-bottom: 5px;
}

.item-property {
  display: block;
  color: #999999;
}

.items-container {
  /* Add your preferred styling */
}

.item-property a {
  color: inherit;
  text-decoration: none;
}

.item-property a:hover {
  /* Add your preferred hover styling */
}

.highlighted {
  /* Add your preferred highlighted styling */
}






