.chatMessages {
  height: 200px; /* Adjust the height as needed */
  overflow-y: auto;
  padding: 10px;
  background-color: #292929;
  max-width: 300px;
  border: 5px solid #039be5;
  word-wrap: break-word
}

.messaging{
  text-align: center;
}
