<div class="loginElement">
  <br>
  <div class="privacyMargin">
    <input matInput [(ngModel)]="email" type="email" placeholder="Email">
    <input matInput [(ngModel)]="password" type="password" placeholder="Password">
    <input *ngIf="isSignUp" matInput [(ngModel)]="username" type="text" placeholder="Username"> <!-- Conditionally display the username input field -->
  </div>
  <div *ngIf="isSignUp">
    <button (click)="toggleSignUp()">Back to Sign In</button>
    <button (click)="register(email, password, username)">Sign up</button>
  </div>
  <div *ngIf="!isSignUp">
    <button (click)="signIn(email, password)">Sign in</button>
    <button (click)="toggleSignUp()">Sign up</button>
  </div>
  <button (click)="mock()">mock</button>
</div>
