<div *ngIf="items.length > 0">
  <h2>Items for Current User</h2>
  <ul>
    <li *ngFor="let item of items">
      <h3>{{ item?.itemName }}</h3>
      <p>Rarity: {{ item?.itemRarity }}</p>
      <p>Type: {{ item?.itemType }}</p>
      <p>Additional DEX: {{ item?.additionalDEX }}</p>
      <p>Additional STM: {{ item?.additionalSTM }}</p>
      <p>Additional STR: {{ item?.additionalSTR }}</p>
      <p>Armor: {{ item?.armor }}</p>
      <button (click)="addToTrade(item.itemId)">Trade this item</button>
    </li>
  </ul>
</div>

<div *ngIf="items.length === 0">
  <p>No items found for current user.</p>
</div>
