<button mat-raised-button (click)="signOut()" class="bottomButtons">SIGN OUT</button>

<div class="gotch_display">
  <p class="title">Your gotchi:</p>
  <div *ngIf="gotchiData">
    <p class="info">Hunger: {{ gotchiData.hunger }}</p>
    <p class="info">Sleep: {{ gotchiData.sleep }}</p>
    <p class="info">Cleanliness: {{ gotchiData.cleanliness }}</p>
    <p class="info">Health: {{ gotchiData.health }}</p>
    <p class="info">Strength: {{ gotchiData.strength }}</p>
    <p class="info">Dexterity: {{ gotchiData.dexterity }}</p>
    <p class="info">Stamina: {{ gotchiData.stamina }}</p>
  </div>

  <p class="title">Your current quest:</p>
  <div *ngIf="quest">
    <p class ="info">name: {{quest.name}}</p>
    <p class ="info">name: {{quest.description}}</p>
    <p class ="info">name: {{quest.progress}}</p>
    <p class ="info">name: {{quest.duration}}</p>
    <p class ="info">name: {{quest.completion}}</p>
    <p class ="info">name: {{quest.reward}}</p>
  </div>
</div>

